/* RELEASE 21 FEB 2022 */

/* Fix checkbox alignment for delivery address during checkout */

.checkout-payment .optedin{
  display:flex !important;
}

/* Style Google/PayPal PDP express payment buttons */

.jsPaymentProviderGooglePayPDP .gpay-card-info-container{
  min-width:100% !important;
  height:50px !important;
  margin-bottom:10px !important;
  box-shadow:none !important;
  border:1px solid #505050 !important;
  border-radius:0 !important;
} 
.payment-provider__text--paypal-pay{
  font-size:15px;
  color: #3C4043;
}

/* Add hover effect to PayPal PDP express payment button to match Google */

#payment-provider__paypal-pay:hover{
  background-color: #F8F8F8 !important;
}

/* Style Google cart express payment buttons */

.payment-provider__inner--google-checkout .gpay-card-info-container{
  min-width:100% !important;
  height:50px !important;
  margin-bottom:0px !important;
  box-shadow:none !important;
  border:1px solid #505050 !important;
  border-radius:0 !important;
}
@media (min-width: 1024px){
  .payment-provider__inner--google-checkout .gpay-card-info-container{
    max-width:300px;
  }
}

/* Style Amazon payment button - NEEDS WORK DUE TO SHADOW ROOT 

#AmazonPayButton .amazonpay-button-container.amazonpay-button-enabled.amazonpay-button-container-rows{
  min-height:70px !important;
}
div > div.amazonpay-button-view3{
  max-width:60% !important;
  margin-left:auto !important;
  margin-right:auto !important;
}
#AmazonPayButton{
  margin-top:-9px !important;
  margin-bottom:45px !important;
}
#mtvheader > a > span{
  font-size:16px !important;
  text-align:center !important;
}
div > div.amazonpay-button-view1.amazonpay-button-view1-gold > picture.amazonpay-button-logo > img{
  max-height:20px !important;
  padding-top:4px !important;
}
div > div.amazonpay-button-view1.amazonpay-button-view1-gold > picture.amazonpay-button-chevrons > img{
  max-height:15px !important;
  padding-top:3px !important;
}
.amazonpay-button-view1{
  border-radius:0 !important;
}
.amazonpay-button-view1-gold{
  border-color:#505050 !important;
  background:transparent !important;
}
*/

/* Shop by player - prevent faces being obscured on mobile */

@media (max-width: 639px){
.player-list .details-wrapper {
  height:50px;
  }
}

/* Make EMWBIS full width on mobile/tablet and same width as OOS on desktop */

.AddToCart-BackInStockNotifyAction{
    width:100%;
}

/* Remove unnecessary EMWBIS popup scrollbar on desktop */
@media (min-width: 1024px){
  #cboxLoadedContent{
    overflow-y:hidden !important;
  }
}

/* END RELEASE */

/* Update PLP product name and price */
  
.product-listing.product-grid .details .price{
font-family:'tk-agency-gothic-ct-conden-n5';
font-size:28px;
}

.product-listing.product-grid .details .name{
text-transform:uppercase;
font-size:14px;
}

/* Update PLP was/now pricing */

.was-now-price{
font-family:'tk-agency-gothic-ct-conden-n5';
}

.was-now-price__now{
font-size:28px;
float:right;
background-color:transparent;
color:red;
  order:2;
  margin-top:-20px;
  letter-spacing:1px;
}

.was-now-price__was{
float:left;
justify-content: center;
margin-top: -5px;
width:100%;
  order:1;
}

.carousel .item .item-price{
  font-family:'tk-agency-gothic-ct-conden-n5';
  font-size:28px;
}

/* Hide page dividers and pagination links */

.divider.js-page-divider{
  display:none;
}
.pagination span{
  display:none;
}

/* Monetate badge styling */

.details [id^=mt_htmlBadge_]{
    border-bottom: 1px solid #f00;
    line-height: 0.1em;
    margin: 10px 0 20px;
    width: 100%;
}
.details [id^=mt_htmlBadge_] strong{
background-color:red;
padding-left:15px;
padding-right:15px;
font-size:13px;
border-radis:15px;
}
.details [id^=mt_htmlBadge_] strong font{
color:white !important;
}
