/* Live CSS file */

.gePopupsContainer .CustomSwitcherPopup:focus-visible, .gePopupsContainer .CustomWelcomePopup:focus-visible{
  outline:none !important;
}

/* Homepage - adjust section title font sizes for Billy */
.amplience__content-type-9-shop-by-player h2{
font-size:2em !important;
}
@media (min-width: 1280px) {
  .amplience__content-type-9-shop-by-player h2{
  font-size:3em !important;
  }
}
@media (min-width: 1024px) {
  h2#product-list-heading-anchor{
  font-size:1.25em !important;
  }
}

/* Home page - italics on hover */
.amplience__content-type-9-shop-by-player .grid a:hover{
    font-style:italic;
}

/* Home page - remove space above promo blocks under carousel */
body.page-homepage > main > div:nth-child(8) > div.no-space > div:nth-child(3) > div > div.flex.flex-row.w-full.items-end.justify-between{
padding-bottom:0px;
}

/* Change SBP page font colour (landing page and player page */
body.page-playerLandingPage .text-white:not(.uppercase):not(.js-utility-bar):not(footer a):not(footer):not(#miniCartSlot div):not(.bg-icon-bag-alert):not(#GigyaRaasComponentForLogin > div > div), body.page-shopByPlayerLandingPage .text-white:not(.uppercase):not(.js-utility-bar):not(footer a):not(footer):not(#miniCartSlot div):not(.bg-icon-bag-alert):not(#GigyaRaasComponentForLogin > div > div){
color: #D80B14;
}

/* Change SBP text colour on homepage */
.page-homepage a[href="/shopbyplayer/"] h3{
color: #D80B14 !important;
}

/* SBP page remove vertical gradient on player grid */
body.page-shopByPlayerLandingPage #arsenal-shop-by-player-tabs .gradient--vertical{
background:transparent;
}

/* SBP landing page mobile only, replace hero gradient and text color */
/* MEN */
@media (max-width: 640px){
  #arsenal-shop-by-player-tabs > div.peer-checked\/first\:\[\&\>\.first\]\:block.peer-checked\/womens\:\[\&\>\.womens\]\:block.peer-checked\/legends\:\[\&\>\.legends\]\:block.mb-16 > div.hidden.first > a > div.absolute.bottom-0.w-full.h-\[60\%\].sm\:h-full.gradient--vertical.sm\:gradient--horizontal{
  background:linear-gradient(180deg,transparent,rgba(0,0,0,.8)) !important;
  }
  #arsenal-shop-by-player-tabs > div.peer-checked\/first\:\[\&\>\.first\]\:block.peer-checked\/womens\:\[\&\>\.womens\]\:block.peer-checked\/legends\:\[\&\>\.legends\]\:block.mb-16 > div.hidden.first > a > div.xl\:container.self-center.absolute.w-full.h-full > div > div.typography--h5.lg\:typography--h3.text-white, #arsenal-shop-by-player-tabs > div.peer-checked\/first\:\[\&\>\.first\]\:block.peer-checked\/womens\:\[\&\>\.womens\]\:block.peer-checked\/legends\:\[\&\>\.legends\]\:block.mb-16 > div.hidden.first > a > div.xl\:container.self-center.absolute.w-full.h-full > div > div.typography--h3.lg\:typography--h1.text-white.mb-6.md\:mb-8.\!leading-\[75\%\]{
  color:white !important;
  }
}
/* WOMEN */
@media (max-width: 640px){
  #arsenal-shop-by-player-tabs > div.peer-checked\/first\:\[\&\>\.first\]\:block.peer-checked\/womens\:\[\&\>\.womens\]\:block.peer-checked\/legends\:\[\&\>\.legends\]\:block.mb-16 > div.hidden.womens > a > div.absolute.bottom-0.w-full.h-\[60\%\].sm\:h-full.gradient--vertical.sm\:gradient--horizontal{
  background:linear-gradient(180deg,transparent,rgba(0,0,0,.8)) !important;
  }
  #arsenal-shop-by-player-tabs > div.peer-checked\/first\:\[\&\>\.first\]\:block.peer-checked\/womens\:\[\&\>\.womens\]\:block.peer-checked\/legends\:\[\&\>\.legends\]\:block.mb-16 > div.hidden.womens > a > div.xl\:container.self-center.absolute.w-full.h-full > div > div.typography--h5.lg\:typography--h3.text-white, #arsenal-shop-by-player-tabs > div.peer-checked\/first\:\[\&\>\.first\]\:block.peer-checked\/womens\:\[\&\>\.womens\]\:block.peer-checked\/legends\:\[\&\>\.legends\]\:block.mb-16 > div.hidden.womens > a > div.xl\:container.self-center.absolute.w-full.h-full > div > div.typography--h3.lg\:typography--h1.text-white.mb-6.md\:mb-8.\!leading-\[75\%\]{
  color:white !important;
  }
}
/* LEGENDS */
@media (max-width: 640px){
  #arsenal-shop-by-player-tabs > div.peer-checked\/first\:\[\&\>\.first\]\:block.peer-checked\/womens\:\[\&\>\.womens\]\:block.peer-checked\/legends\:\[\&\>\.legends\]\:block.mb-16 > div.hidden.legends > a > div.absolute.bottom-0.w-full.h-\[60\%\].sm\:h-full.gradient--vertical.sm\:gradient--horizontal{
  background:linear-gradient(180deg,transparent,rgba(0,0,0,.8)) !important;
  }
  #arsenal-shop-by-player-tabs > div.peer-checked\/first\:\[\&\>\.first\]\:block.peer-checked\/womens\:\[\&\>\.womens\]\:block.peer-checked\/legends\:\[\&\>\.legends\]\:block.mb-16 > div.hidden.legends > a > div.xl\:container.self-center.absolute.w-full.h-full > div > div.typography--h5.lg\:typography--h3.text-white, #arsenal-shop-by-player-tabs > div.peer-checked\/first\:\[\&\>\.first\]\:block.peer-checked\/womens\:\[\&\>\.womens\]\:block.peer-checked\/legends\:\[\&\>\.legends\]\:block.mb-16 > div.hidden.legends > a > div.xl\:container.self-center.absolute.w-full.h-full > div > div.typography--h3.lg\:typography--h1.text-white.mb-6.md\:mb-8.\!leading-\[75\%\]{
  color:white !important;
  }
}

/* SBP landing page mobile only, shift hero image to the left */
@media (max-width: 640px){
  #arsenal-shop-by-player-tabs div.hidden.first > a > picture, #arsenal-shop-by-player-tabs div.hidden.legends > a > picture, #arsenal-shop-by-player-tabs div.hidden.womens > a > picture{
  margin-left:-500px;
  }
}

/* SBP player page mobile only, shift hero image to the left */
@media (max-width: 640px){
  body.page-playerLandingPage > main > div:nth-child(8) > div > picture{
  margin-left:-500px;
  }
}

/* SBP landing page desktop, remove horizontal gradient on hero image */
@media (min-width: 640px){
  body.page-shopByPlayerLandingPage .sm\:gradient--horizontal{
  background:transparent;
  }
}

/* SBP player page desktop, remove horizontal gradient on hero image */
@media (min-width: 640px){
  body.page-playerLandingPage .sm\:gradient--horizontal{
  background:transparent;
  }
}

/* SBP player page mobile, change hero text colour */
@media (max-width: 640px){
  body > main > div:nth-child(8) > div.relative.flex.flex-col.w-full.h-\[calc\(100vh-184px\)\].sm\:h-\[calc\(100vh-185px\)\].overflow-hidden.mb-6.md\:mb-8.bg-red-93040C > div.xl\:container.self-center.absolute.w-full.h-full > div > div, body > main > div:nth-child(8) > div.relative.flex.flex-col.w-full.h-\[calc\(100vh-184px\)\].sm\:h-\[calc\(100vh-185px\)\].overflow-hidden.mb-6.md\:mb-8.bg-red-93040C > div.xl\:container.self-center.absolute.w-full.h-full > div > h1{
  color:white !important;
  }
}

/* SBP landing pages desktop, change CTA background colour */
@media (min-width: 640px){
  #arsenal-shop-by-player-tabs  div.hidden.legends > a > div.xl\:container.self-center.absolute.w-full.h-full > div > button, #arsenal-shop-by-player-tabs  div.hidden.womens > a > div.xl\:container.self-center.absolute.w-full.h-full > div > button, #arsenal-shop-by-player-tabs  div.hidden.first > a > div.xl\:container.self-center.absolute.w-full.h-full > div > button{
  background-color:#E1E1E1;
  }
}

/* PDP Yotpo button styling issues  */
@media only screen and (max-width: 541px){
.yotpo-main-container .main-widget .write-question-review-buttons-container .write-question-review-button {
    width: auto !important;
}
}

/* Tours pages - fix font size */
body.page-tourVisitorInfo p, body.page-tourOpeningHoursPage p {
    font-size: 16px;
}
body.page-tourHomePage p, body.page-tourHomePage li{
    font-size: 16px;
}
body.page-arsenalMuseum p{
    font-size: 16px;
}

/* Tours page - audio - fix gap under text above opening hours */
body.page-tourAudioProductPage ul{
    padding-bottom:2.5rem;
}

/* Fix font sizes on mini bag item details */
#miniCartSlot .typography--body5--bold, #miniCartSlot .typography--body5, #miniCartSlot .typography--body3:not(.col-span-4 > .typography--body3), #miniCartSlot .typography--subtitle4{
  font-size:14px;
  color: #666666;
}
#miniCartSlot > div > div.relative > div > div.col-span-4 > div:first-child, #miniCartSlot > div > div.relative > div > div.col-span-4 > div:nth-child(2){
  font-size:16px;
}

/* Stadium tours - remove double line divider */
div.yCmsContentSlot.productDetailsPageSection1 div.border-b, div.yCmsContentSlot.productDetailsPageSection1 div.border-b:after, body.page-tourAudioProductPage div.border-b, body.page-tourAudioProductPage div.border-b:after{
border-bottom:none;
}

/* Stadium tours - remove double line divider on museum page */
body.page-arsenalMuseum .px-4.mt-12, body.page-arsenalMuseum .px-4.mt-12:after{
  border-bottom:none;
}

/* Stadium tours - hide opening times popup on main page */
.amplience__content-type-21-opening-times-pop-up{
display:none;
}

/* Hide weekdays on date picker calendar due to only having six days in the numbers */
body.page-tourProductPage .flatpickr-weekdays{
display:none;
}

/* Fix word wrapping on middle promo block (for longer title) */
body.page-homepage > main > div:nth-child(8) > div.no-space > div:nth-child(3) > div > div.grid.gap-4.grid-cols-1.grid-row-3.md\:grid-cols-3.md\:grid-row-1 > a:nth-child(2) > h3{
  max-width:300px;
}

/* Fu's navigation link fix */
.\[\&\>a\:last-child\>span\]\:underline>a:last-child>span {text-decoration-line: none}
@media (min-width: 1024px){
.\[\&\>a\:last-child\>span\]\:before\:content-\[\'All_\'\]>a:last-child>span:before {content: ''}
}
