/* ....................................................................................
//...222222......1111........FFFFFFFFFF..........ebbb..............222222....222222....
//..22222222....11111........FFFFFFFFFF..........ebbb.............22222222..22222222...
//.2222..2222..111111........FFFFFFFFFF..........ebbb............ 222..22222222..2222..
//.2222..2222.1111111........FFFF........eeeeee..ebbbbbbbb....... 222..22222222..2222..
//.......2222.1111111........FFFF.......eeeeeeee.ebbbbbbbbb............2222......2222..
//......22222.11.1111........FFFFFFFFF.Feee.eeee.ebbbb.bbbbb..........22222.....22222..
//.....22222.....1111........FFFFFFFFF.Feee..eeeeebbb...bbbb.........22222.....22222...
//....22222......1111........FFFFFFFFF.Feeeeeeeeeebbb...bbbb........22222.....22222....
//...22222.......1111........FFFF......Feeeeeeeeeebbb...bbbb.......22222.....22222.....
//..22222........1111........FFFF......Feee......ebbb...bbbb......22222.....22222......
//..2222.........1111........FFFF......Feee..eeeeebbbb.bbbbb......2222......2222.......
//.2222222222....1111........FFFF.......eeeeeeee.ebbbbbbbbb...... 2222222222222222222..
//.2222222222....1111........FFFF........eeeeee..ebbbbbbbb....... 2222222222222222222..
//.................................................................................. */

/* Fix checkbox alignment for delivery address during checkout */

.checkout-payment .optedin{
  display:flex !important;
}

/* Style Google/PayPal PDP express payment buttons */

.jsPaymentProviderGooglePayPDP .gpay-card-info-container{
  min-width:100% !important;
  height:50px !important;
  margin-bottom:10px !important;
  box-shadow:none !important;
  border:1px solid #505050 !important;
  border-radius:0 !important;
} 
.payment-provider__text--paypal-pay{
  font-size:15px;
  color: #3C4043;
}

/* Add hover effect to PayPal PDP express payment button to match Google */

#payment-provider__paypal-pay:hover{
  /*background-color: #F8F8F8 !important;*/
  opacity:0.7;
}

/* Style Google cart express payment buttons */

.payment-provider__inner--google-checkout .gpay-card-info-container{
  min-width:100% !important;
  height:50px !important;
  margin-bottom:0px !important;
  box-shadow:none !important;
  border:1px solid #505050 !important;
  border-radius:0 !important;
}
@media (min-width: 1024px){
  .payment-provider__inner--google-checkout .gpay-card-info-container{
    max-width:300px;
  }
}

/* Shop by player - prevent faces being obscured on mobile */

@media (max-width: 639px){
.player-list .details-wrapper {
  height:50px;
  }
}

/* Make EMWBIS full width on mobile/tablet and same width as OOS on desktop */

.AddToCart-BackInStockNotifyAction{
    width:100%;
}

/* Remove unnecessary EMWBIS popup scrollbar on desktop */
@media (min-width: 1024px){
  #cboxLoadedContent{
    overflow-y:hidden !important;
  }
}

/* END RELEASE */

/*....................................................................................
//...222222....888888...........AAAAA.............................222222....222222....
//..22222222..88888888..........AAAAA............................22222222..22222222...
//.2222..22222888888888........AAAAAA........................... 222..22222222..2222..
//.2222..22222888..8888........AAAAAAA...Apppppppp..prrrrrrr.... 222..22222222..2222..
//.......2222288888888........AAAAAAAA...Appppppppp.prrrrrrr..........2222......2222..
//......22222.88888888........AAAAAAAA...Apppp.pppppprrrr............22222.....22222..
//.....22222..88888888........AAAA.AAAA..Appp...ppppprrr............22222.....22222...
//....22222..2888.88888......AAAAAAAAAA..Appp...ppppprrr...........22222.....22222....
//...22222...2888..8888......AAAAAAAAAAA.Appp...ppppprrr..........22222.....22222.....
//..22222....2888..8888......AAAAAAAAAAA.Appp...ppppprrr.........22222.....22222......
//..2222.....2888888888..... AAA....AAAA.Apppp.pppppprrr.........2222......2222.......
//.2222222222.88888888...... AAA.....AAAAAppppppppp.prrr........ 2222222222222222222..
//.2222222222..888888...... AAA.....AAAAApppppppp..prrr........ 2222222222222222222..
//.......................................Appp.........................................
//.......................................Appp.........................................
//.......................................Appp.........................................
//.......................................Appp.........................................
//..................................................................................*/

/* Update PLP product name and price */
  
.product-listing.product-grid .details .price, .carousel .product-item .item-price{
font-family:'tk-agency-gothic-ct-conden-n5';
font-size:28px;
}

.product-listing.product-grid .details .name{
text-transform:uppercase;
font-size:14px;
}

/* Update PLP was/now pricing */

.was-now-price{
font-family:'tk-agency-gothic-ct-conden-n5';
}

.was-now-price__now{
font-size:28px;
float:right;
background-color:transparent;
color:red;
  order:2;
  margin-top:-20px;
  letter-spacing:1px;
}

.was-now-price__was{
float:left;
justify-content: center;
margin-top: -5px;
width:100%;
  order:1;
}

.carousel .item .item-price{
  font-family:'tk-agency-gothic-ct-conden-n5';
  font-size:28px;
}

/* Hide page dividers and pagination links */

.divider.js-page-divider{
  display:none;
}
.pagination span{
  display:none;
}

/* Monetate badge styling */

.details [id^=mt_htmlBadge_], .details-wrapper [id^=mt_htmlBadge_]{
    /* border-bottom: 1px solid #f00; */
    line-height: 0.1em;
    margin: 10px 0 20px;
    width: 100%;
    text-transform:uppercase;
}
.details-wrapper [id^=mt_htmlBadge_]{
  margin-bottom:0px;
  margin-top:20px;
}
.details [id^=mt_htmlBadge_] strong, .details [id^=mt_htmlBadge_] span, .details-wrapper [id^=mt_htmlBadge_] span{
    background-color: red;
    padding-left: 25px;
    padding-right: 15px;
    font-size: 12px;
    border-radius: 15px;
    min-width: 160px;
    height: 18px;
    color: white !important;
    display: inline-block;
    padding-top: 8px;
    margin-top: -8px;
}
.details [id^=mt_htmlBadge_] strong font{
color:white !important;
}
.details [id^=mt_htmlBadge_] strong:before, .details [id^=mt_htmlBadge_] span:before, .details-wrapper [id^=mt_htmlBadge_] span:before {
    content: "";
    background-image: url(https://raw.githubusercontent.com/arsenaldirect/adcss/934963e503b9232f9590bb98dfae854994aa4e89/img/AFC50.png);
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin-left: -30%;
    margin-top: -13px;
    margin-bottom: -17px;
}

/* Remove hover effect on site logo */

body > main > header > div.header-wrapper > div > div.row.no-gutter > div.site-logo > div > div > a:hover{
opacity:1;
}

/* PDP size guide link */

.sizeGuideLink {
    color: white;
    text-decoration: none;
    background-color: red;
    padding-left: 10px;
    padding-right: 30px;
    text-transform: uppercase;
    font-size: 14px !important;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.sizeGuideLink:hover{
    color: white;
}
.sizeGuideLink:before {
    content: "";
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(https://raw.githubusercontent.com/arsenaldirect/adcss/934963e503b9232f9590bb98dfae854994aa4e89/img/shirticonred.png);
    position: absolute;
    margin-left: -32px;
    margin-top: -2px;
}
a.option-label.sizeGuideLink:after {
    content: "";
    background-image: url(https://raw.githubusercontent.com/arsenaldirect/adcss/934963e503b9232f9590bb98dfae854994aa4e89/img/299638-200.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    filter: brightness(0) invert(1);
    height: 14px;
    width: 14px;
    margin-top: 6px;
    margin-left: 6px;
}

/* PDP choose size title */

.option-label.choosesize-vari{
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 10px;
    border-radius:10px;
    margin-top: 1px;
    max-width:100px;
}
/* p.option-label.choosesize-vari:after {
    content: "";
    background-image: url(https://raw.githubusercontent.com/arsenaldirect/adcss/934963e503b9232f9590bb98dfae854994aa4e89/img/rulericonwhite.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 30px;
    position: absolute;
    right: -10px;
    margin-top: -5px;
} */

/* PDP choose qty title */

p#noOfShirts:after {
    content: "";
    background-image: url(https://raw.githubusercontent.com/arsenaldirect/adcss/934963e503b9232f9590bb98dfae854994aa4e89/img/carticonred.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 30px;
    margin-top: -4px;
}
@media (max-width: 1024px){
  p#noOfShirts:after {
    right:25px;
  }
}

p#noOfShirts{
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 1px;
    margin-right: 10px;
}

/* PDP personalise title */

.product-details-wrapper .actions-text:not(.accordion-header) {
    font-size: 14px;
    font-family: "meta-normal";
    text-transform: uppercase;
    letter-spacing: 0;
    background-color: red;
    color: white;
    padding-left: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 10px;
}
.product-details-wrapper .actions-text:not(.accordion-header):after {
    content: "";
    background-image: url(https://raw.githubusercontent.com/arsenaldirect/adcss/934963e503b9232f9590bb98dfae854994aa4e89/img/texticon.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 30px;
    margin-top: -4px;
}

/* PDP free shipping section */

#freedelcont{
  margin-left: auto;
  margin-right:auto;
  width: 90%;
  padding-left:10px;
  margin-top:30px;
}
.fixw{
  width:100%;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
}
.fixw td.imgcol{
  width:30%;
  padding-right:20px;
}
.fixw td.txtcol{
  width:50%;
}
.fixw img{
  max-width:100%;
}
.c1{
  color: red; 
  font-weight: bold; 
  font-size: 40px;
  font-family: 'tk-agency-gothic-ct-conden-n5';
  white-space: nowrap;
  display:block;
  line-height:0.8em;
}
.c2{
  font-weight: bold; 
  font-size: 18px; 
  font-family: 'meta-font';
  display:block;
}
.c3{
  color: rgb(83, 82, 82); 
  font-size: 12px; 
  font-family: 'meta-font';
  display:block;
  line-height:1.2em;
}
@media (max-width: 1024px){
  .c3{
    font-size:15px;
  }
}

/* PDP was/now pricing */

.js-productNowPriceLabel, .js-productWasPriceLabel{
  display:none;
}
.product-details-wrapper .product-price-panel{
font-family: 'tk-agency-gothic-ct-conden-n5';
}
div.addtocart-component > div.grand-totals.table-display > div > div:nth-child(1){
order:2;
}
div.addtocart-component > div.grand-totals.table-display > div > div:nth-child(2){
order:1;
line-height: 0.1em;
}
.product-details-wrapper .totalPriceWas{
margin-bottom:0;
font-weight:normal;
}
.product-details-wrapper .totalPriceWas .minor{
font-size:26px;
padding-left:5px;
}
.product-details-wrapper p.totalPrice{
letter-spacing:1px !important;
}
.product-details-wrapper .totalPrice .red{
  color:red;
}

@media (max-width: 1024px){
.product-details-wrapper p.totalPrice{
  font-size:50px;
  }
  .product-details-wrapper .totalPriceWas .minor{
    font-size:40px;
    letter-spacing:1px;
  }
  .product-details-wrapper .totalPriceWas{
    margin-top:-10px;
    margin-bottom:20px;
  }
  div.addtocart-component > div.payment-provider__wrapper.js-paymentProviderWrapperPDP{
    margin-top:15px;
  }
  p#noOfShirts{
    margin-bottom:30px;
  }
  .patches-container{
    margin-bottom:30px;
  }
}

/* PDP Product notice badge styling */

p.product-summary-style:not(:empty){
    margin-top: 0px;
    padding: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 95px;
    color: #999999;
    box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 25%), -2px -2px 2px 0 rgb(255 255 255 / 30%);
    height:auto;
}

p.product-summary-style:not(:empty):before{
    content: "";
    background-image: url(https://raw.githubusercontent.com/arsenaldirect/adcss/4a180f349569ad43db90916f8558d4a4233c283b/img/info.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: -70px;
    filter: invert(62%) sepia(0%) saturate(78%) hue-rotate(196deg) brightness(101%) contrast(82%);
}


/* Hide PDP out of stock sizes (the list above EMWBIS button) */

.control-group .items-out-of-stock{
  display:none;
}
#backInStockPopup{
  margin-top:10px;
}

/* PDP pre-order text notification */

.text-below-stock-levels{
   margin-top: 20px !important;
    padding: 20px !important;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 95px !important;
    color: #999999 !important;
    box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 25%), -2px -2px 2px 0 rgb(255 255 255 / 30%);
    height:auto;
  width:100%;
  margin-bottom:10px;
  text-align:left !important;
}
.text-below-stock-levels:before{
     content: "";
    background-image: url(https://raw.githubusercontent.com/arsenaldirect/adcss/4a180f349569ad43db90916f8558d4a4233c283b/img/info.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    position: absolute;
    margin-left: -70px;
    filter: invert(62%) sepia(0%) saturate(78%) hue-rotate(196deg) brightness(101%) contrast(82%);
}

/* PDP Personalised product delivery delay warning styling and quantity warnings */

.pdp-warning-box, .product-details-wrapper .qty-max-messages, .product-details-wrapper .qty-min-messages{
  margin-top: 0px;
    padding: 20px;
    border-radius: 5px;
    padding-left: 95px;
    box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 25%), -2px -2px 2px 0 rgb(255 255 255 / 30%);
    height:auto;
  background-color:red;
  color:white;
}

.pdp-warning-box:before, .product-details-wrapper .qty-max-messages:before, .product-details-wrapper .qty-min-messages:before{
  content: "";
    background-image: url(https://raw.githubusercontent.com/arsenaldirect/adcss/4a180f349569ad43db90916f8558d4a4233c283b/img/info.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: -70px;
  filter: brightness(0) invert(1);
}

.product-summary-style(:empty){
    margin-top:-20px;
}

/* PDP in stock status after choosing variation */

.stock-levels .in-stock{
    color: white !important;
    width: auto;
    padding-right: 25px;
    max-width: 120px;
    float: right;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom:15px;
    background-color: #159B09;
}
.stock-levels .in-stock:after{
    content: "";
    background-image: url(https://raw.githubusercontent.com/arsenaldirect/adcss/4a180f349569ad43db90916f8558d4a4233c283b/img/greenticksolid.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    position: absolute;
    right: -10px;
    margin-top: -5px;
}
.stock-levels .low-stock {
    width: auto;
    padding-right: 25px;
    max-width: 120px;
    float: right;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #F2BD00;
    color: white !important;
}
.stock-levels .low-stock:after{
    content: "";
    background-image: url(https://i.postimg.cc/3N6hkn3G/lowstock.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    position: absolute;
    right: -10px;
    margin-top: -5px;
}

/* Replace PDP section border with shadow */

.product-details-wrapper.border {
    border: none;
    box-shadow: 2px 2px 9px #e8e8e8;
}

/* Fix OOS variation X lines and restyle boxes/disabled add to cart buttons */

/*.select-box.out-of-stock:before, .select-box.out-of-stock:after{
  display:none;
}*/

/* Removed for ticket 4423
.select-box.out-of-stock, #addToCartButton:disabled{
    background-color: rgba(0,0,0,0.04);
    color: rgba(255,0,0,0.2);
}
.btn-primary[disabled]{
  opacity:0.3;
}
*/

.select-box.out-of-stock {
    border: 1px solid #FFB4B5;
    background:
         linear-gradient(to top left,
             rgba(0,0,0,0) 0%,
             rgba(0,0,0,0) calc(50% - 0.8px),
             rgba(255,180,181,1) 50%,
             rgba(0,0,0,0) calc(50% + 0.8px),
             rgba(0,0,0,0) 100%),
         linear-gradient(to top right,
             rgb(245, 245, 245) 0%,
             rgb(245, 245, 245) calc(50% - 0.8px),
             rgba(255,180,181,1) 50%,
             rgb(245, 245, 245) calc(50% + 0.8px),
             rgb(245, 245, 245) 100%);
}

.select-box.out-of-stock span{
   padding:5px;
   background-color: #F5F5F5;
   z-index:9;
}

/* Mini-cart totals */

.main-header .mini-cart-taxes .value, .main-header .mini-cart-totals .value{
    font-family: 'agency-gothic-ct-cond-tt';
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: -4px;
}
@media (max-width: 1024px){
  .main-header .mini-cart-taxes .value, .main-header .mini-cart-totals .value{
    font-size:24px;
  }
  .mini-cart-taxes, .mini-cart-totals{
    text-transform:uppercase;
  }
}

.main-header .mini-cart-taxes {
    color: inherit;
    padding-bottom: 5px;
    /* background-color: #F5F5F5;
    box-shadow: 2px 2px 9px #e8e8e8;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px; */
    margin-top:10px;
}

.main-header .mini-cart-taxes, .main-header .mini-cart-totals {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/*
#miniCartSlot > div > div.mini-cart.js-mini-cart > div > div.mini-cart-taxes > span:before{
    content: "";
    background-image: url(https://raw.githubusercontent.com/arsenaldirect/adcss/4a180f349569ad43db90916f8558d4a4233c283b/img/savings.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    position: absolute;
    margin-left: -35px;
    margin-top:-2px;
}
*/

.mini-cart-item .price {
    font-family: 'agency-gothic-ct-cond-tt';
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
}


/* Make product name capitals on carousels */

div.owl-wrapper-outer .item-name{
  text-transform:uppercase;
}

/* PLP increase space between products on mobile and sort out PDP title */

@media (max-width: 1024px){
    .product-listing.product-grid .product-item{
    margin-bottom:30px;
  }
  .product-details .product-header{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    text-transform:uppercase;
    margin-top:10px;
}
}

#monetate_selectorBanner_5c002728_00{
  text-align:center;
}

/* END RELEASE */

/*....................................................................................
//....1111.....1111....... MMM...MMMMMM........................... 22222....222222....
//...11111....11111....... MMM...MMMMMM.......................... 222222..22222222...
//..111111...111111....... MMM...MMMMMM......................... 2..22222222..2222..
//.1111111..1111111....... MMMM.MMMMMMM..Maaaaa.aaaa...yyyy..... 2..22222222..2222..
//.1111111..1111111....... MMMM.MMMMMMM.MMaaaaaa.aaay..yyyy...........2222......2222..
//.11.1111..11.1111....... MMMM.MMMMMMMMMMa.aaaaaaaay..yyyy..........22222.....22222..
//....1111.....1111....... MMMMMMMMMMMM....aaaaaaaaay.yyyy..........22222.....22222...
//....1111.....1111....... MMMMMMMMMMMM.MMaaaaaaa.aayyyyyy.........22222.....22222....
//....1111.....1111....... MMMMMMMMMMMMMMMaaaaaaa.aayyyyy......... 2222.....22222.....
//....1111.....1111....... M.MMMMM.MMMMMMMa.aaaaa..ayyyyy........ 222.....22222......
//....1111.....1111....... M.MMMMM.MMMMMMMa.aaaaa..ayyyyy........ 22......2222.......
//....1111.....1111....... M.MMMMM.MMMMMMMaaaaaaa..ayyyy........ 22222222222222222..
//....1111.....1111....... M.MMMMM.MMMM.MMaaaaaaa...yyyy........ 22222222222222222..
//..................................................yyyy..............................
//.................................................ayyy...............................
//...............................................aaayyy...............................
//..............................................aaayy................................
//....................................................................................*/

/* Homepage carousel - add wordwrap and adjust padding on mobile */

@media (max-width: 1024px){
  .owl-carousel.js-owl-hero-banners-carousel .owl-wrapper .hero-banners-carousel__text{
    padding:0 40px 30px 40px;
  }
  .owl-carousel.js-owl-hero-banners-carousel .owl-wrapper .hero-banners-carousel__text h2{
    white-space:normal;
  }
  /* Fix category text going off-screen */
  .hero-component__content{
    left:0;
  }
}

/* Add hover transition to new express checkout buttons */

#payment-provider__paypal-pay:hover, .gpay-button.black.hover, .amazonpay-button-view1-gold:hover{
transition: 0.2s ease-in-out;
}
#payment-provider__paypal-pay[disabled]:hover {
    background-color: #FEC53A !important;
}
.amazonpay-button-view1-gold:hover {
    background: linear-gradient(to bottom, #f5d78e, #eeb933) !important;
}

/* Prevent word wrap in header promo banner slots */

.first-promo-banner{
  white-space:nowrap;
}

/* JY Fix obscured cart removal button */

.btn.remove-item-link.remove-entry-button{
  width:75px;
}

/* Adjust (reduce) spacing between product name and price on Carousel pages */

.carousel .item .item-price{
  margin-top:-10px;
}

/* Adjust product name font size on mobile carousel pages */

@media (max-width: 1023px){
 .carousel .item .item-name {
    font-size: 16px;
 }
}

/* Adjust carousel item height to prevent cropping/border issues */

/* body.page-parentCategory .carousel .item, body.page-parentCategory .carousel .item:hover{
  height:380px;
} */

/* END RELEASE */

/*......................................................................................
//....1111....999999....... MMMM...MMMMMM...........................222222....222222....
//...11111...19999999...... MMMM...MMMMMM.......................... 2222222..22222222...
//..111111..1199.9999...... MMMM...MMMMMM......................... 22..22222222..2222..
//.1111111..1199..9999..... MMMMM.MMMMMMM..aaaaaa.aaay...yyyy..... 22..22222222..2222..
//.1111111..1199..9999..... MMMMM.MMMMMMM.Maaaaaaa.aayy..yyyy...........2222......2222..
//.11.1111..1199..9999..... MMMMM.MMMMMMMMMaa.aaaaaaayy..yyyy..........22222.....22222..
//....1111..1199999999..... MMMMMMMMMMMMM....aaaaaaaayy.yyyy..........22222.....22222...
//....1111...199999999..... MMMMMMMMMMMMM.Maaaaaaaa.ayyyyyyy.........22222.....22222....
//....1111....99999999..... MMMMMMMMMMMMMMMaaaaaaaa.ayyyyyy.........22222.....22222.....
//....1111........9999..... MM.MMMMM.MMMMMMaa.aaaaa..yyyyyy........ 2222.....22222......
//....1111..1199.9999...... MM.MMMMM.MMMMMMaa.aaaaa..yyyyyy........ 222......2222.......
//....1111...19999999...... MM.MMMMM.MMMMMMaaaaaaaa..yyyyy........ 222222222222222222..
//....1111....99999........ MM.MMMMM.MMMM.Maaaaaaaa...yyyy........ 222222222222222222..
//.....................................................yyyy..............................
//....................................................yyyy...............................
//..................................................aayyyy...............................
//..................................................aayyy................................
//.....................................................................................*/

/* Swap the promo banner images for second and third sections (ref SA) */

.bottom-header-wrapper .bottom-header-inner .content:nth-of-type(3) p:before {
    background-image: url(https://arsenaldirect.arsenal.com/_ui/responsive/theme-blue/images/header-bottom-second.png);
}

.bottom-header-wrapper .bottom-header-inner .content:nth-of-type(2) p:before {
    background-image: url(https://arsenaldirect.arsenal.com/_ui/responsive/theme-blue/images/header-bottom-third.png);
}

.page-homepage .bottom-header-wrapper .content:nth-of-type(3) p:before {
    background-image: url(https://arsenaldirect.arsenal.com/_ui/responsive/theme-blue/images/header-bottom-second-inv.png);
}
.page-homepage .bottom-header-wrapper .content:nth-of-type(2) p:before {
    background-image: url(https://arsenaldirect.arsenal.com/_ui/responsive/theme-blue/images/header-bottom-third-inv.png);
}

/* Mobile category banner font colour */

@media only screen and (max-device-width: 639px){
  .hero-component--medium .hero-component__heading{
    color:white !important;
    -webkit-text-stroke: 1px black;
  }
  .hero-component--medium .hero-component__lead{
    color:white !important;
    -webkit-text-stroke: 0.5px black;
  }
}

/* Payment page gift card button adjustments */

.btn-giftcard{
  width: 100%;
  margin-left: 0;
  line-height: 3em;
}

/* Highlight home kit in mobile nav menu - change to sub.counter_8 for live */

/*#nav > ul > li.auto.has-sub.js-enquire-has-sub.counter_9 > div > div > div > div.col-md-6.col-no-padding-mobile > ul:nth-child(2) > li > a:after{
    content: "";
    display: inline-block;
    background-image: url(https://raw.githubusercontent.com/arsenaldirect/adcss/856764b6db4ecbf8739c556115d1ef517092bee1/img/new-corner120-trans.png);
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
}

#nav > ul > li.auto.has-sub.js-enquire-has-sub.counter_9 > div > div > div > div.col-md-6.col-no-padding-mobile > ul:nth-child(2) > li > a {
    border-left: 5px solid #ED1F1F;
    padding-left: 15px;
}

#nav > ul > li.auto.has-sub.js-enquire-has-sub.counter_9 > div > div > div > div.col-md-6.col-no-padding-mobile > ul:nth-child(1) > li > a:before {
    content: "22/23";
    padding-right: 4px;
}*/

/* Fix rollover image showing on mobile */

@media (max-width: 1023px){
a.thumb.product-link-js picture img.primaryImageF5 {
    display: none !important;
  }
a.thumb.product-link-js picture img.primaryImageF {
    display: inline !important;
  }
}

/* Add space below monetate delivery banner in checkout  */

.js-monetate-delivery-banner-v3.mod-ghost{
  margin-bottom:20px;
}

/* Hide PDP personalised shirt delivery delay notice */

.AddToCart-AddToCartAction .pdp-warning-box{
  display:none;
}

/* SBP text background colour */

.shopbyplayer-title-over-image{
    background-color: #93192E;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin-left: -30px;
    padding-right: 30px;
    margin-top: 0;
}

/* Hide kit builder on homepage */

/*.page-homepage .personalise-kit-section{
  display:none;
}
.page-homepage .shop-by-player-section{
  width:100%;
}
div.yCmsComponent.case.col-xs-12.col-md-6.shop-by-player-section > div > div.inner-content > div > div.owl-wrapper-outer > div > div{
  width:auto !important;
}*/


/* Make SBP on homepager taller on mobile */

@media only screen and (max-device-width: 639px){
.player-list .image-wrapper{
height:350px;
}
}

/* Make carousel text bigger ref HC */

.hero-banners-carousel__text p.visible-sm.visible-md.visible-lg {
    font-size: 22px;
    padding-bottom:10px;
}
.hero-banners-carousel__text p.visible-xs {
    font-size: 20px;
    padding-bottom:10px;
}

/* Update PDP Product notice badge styling for kit only (make it red and change icon to heart) */

.template-pages-product-kitProductLayout1Page p.product-summary-style:not(:empty), .template-pages-product-kitProductPlayerLayoutPage p.product-summary-style:not(:empty), .template-pages-product-kitUserCustomisedProductLayout1Page p.product-summary-style:not(:empty){
    margin-top: 0px;
    padding: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 95px;
    color: white;
    background-color:red;
    box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 25%), -2px -2px 2px 0 rgb(255 255 255 / 30%);
    height:auto;
}

.template-pages-product-kitProductLayout1Page p.product-summary-style:not(:empty):before, .template-pages-product-kitProductPlayerLayoutPage p.product-summary-style:not(:empty):before, .template-pages-product-kitUserCustomisedProductLayout1Page p.product-summary-style:not(:empty):before{
    content: "";
    background-image: url(https://raw.githubusercontent.com/arsenaldirect/adcss/0d27838a74f706899f8e3364b9636046fd61a497/img/Love_Heart_symbolv2150.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: -70px;
    filter: brightness(0) invert(1);
}

/* Hide SBP title on mobile */

@media only screen and (max-device-width: 568px){
 .shopbyplayer-title-over-image {
    display:none;
 }
}

/* END RELEASE */

/*..............................................................................
//....1111.......4444...........JJJJ.............ulll.......222222....222222....
//...11111......44444...........JJJJ.............ulll...... 2222222..22222222...
//..111111.....444444...........JJJJ.............ulll..... 22..22222222..2222..
//.1111111.....444444...........JJJJ.JJuu..uuuuu.ulll..... 22..22222222..2222..
//.1111111....4444444...........JJJJ.JJuu..uuuuu.ulll...........2222......2222..
//.11.1111...14444444...........JJJJ.JJuu..uuuuu.ulll..........22222.....22222..
//....1111...144.4444...........JJJJ.JJuu..uuuuu.ulll.........22222.....22222...
//....1111..1144.4444...........JJJJ.JJuu..uuuuu.ulll........22222.....22222....
//....1111..1144444444..... JJ.JJJJ.JJuu..uuuuu.ulll.......22222.....22222.....
//....1111..1144444444..... JJ.JJJJ.JJuu..uuuuu.ulll...... 2222.....22222......
//....1111.......4444...... JJJJJJJ.JJuuu.uuuuu.ulll...... 222......2222.......
//....1111.......4444...... JJJJJJ...Juuuuuuuuu.ulll..... 222222222222222222..
//....1111.......4444....... JJJJJ.....uuuuuuuuu.ulll..... 222222222222222222..
//............................................................................*/

/* Remove border around dropdown items in Yotpo */

.yotpo-drop-down-layout .yotpo-dropdown .list-category .selected-item{
  outline:none;
}

/* Fix hover border for Yotpo */

body.page-parentCategory .carousel .item:hover{
  height:auto;
}

/* END RELEASE */


/*..............................................................................
//....1111....888888............JJJJ.............ulll.......222222....222222....
//...11111...18888888...........JJJJ.............ulll...... 2222222..22222222...
//..111111..1188888888..........JJJJ.............ulll..... 22..22222222..2222..
//.1111111..1188..8888..........JJJJ.JJuu..uuuuu.ulll..... 22..22222222..2222..
//.1111111..118888888...........JJJJ.JJuu..uuuuu.ulll...........2222......2222..
//.11.1111...18888888...........JJJJ.JJuu..uuuuu.ulll..........22222.....22222..
//....1111...18888888...........JJJJ.JJuu..uuuuu.ulll.........22222.....22222...
//....1111..1188.88888..........JJJJ.JJuu..uuuuu.ulll........22222.....22222....
//....1111..1188..8888..... JJ.JJJJ.JJuu..uuuuu.ulll.......22222.....22222.....
//....1111..1188..8888..... JJ.JJJJ.JJuu..uuuuu.ulll...... 2222.....22222......
//....1111..1188888888..... JJJJJJJ.JJuuu.uuuuu.ulll...... 222......2222.......
//....1111...18888888...... JJJJJJ...Juuuuuuuuu.ulll..... 222222222222222222..
//....1111....888888........ JJJJJ.....uuuuuuuuu.ulll..... 222222222222222222..
//............................................................................*/

/* Highlight away kit in mobile nav menu - change to sub.counter_8 for live */

/*#nav > ul > li.auto.has-sub.js-enquire-has-sub.counter_9 > div > div > div > div.col-md-6.col-no-padding-mobile > ul:nth-child(3) > li > a:after{
    content: "";
    display: inline-block;
    background-image: url(https://raw.githubusercontent.com/arsenaldirect/adcss/856764b6db4ecbf8739c556115d1ef517092bee1/img/new-corner120-trans.png);
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
}

#nav > ul > li.auto.has-sub.js-enquire-has-sub.counter_9 > div > div > div > div.col-md-6.col-no-padding-mobile > ul:nth-child(3) > li > a {
    border-left: 5px solid #ED1F1F;
    padding-left: 15px;
}

#nav > ul > li.auto.has-sub.js-enquire-has-sub.counter_9 > div > div > div > div.col-md-6.col-no-padding-mobile > ul:nth-child(3) > li > a:before {
    content: "22/23";
    padding-right: 4px;
}*/

/* Resize notice icon on cart page */

.pdp-warning-box:before{
  width:25px;
  height:25px;
}

/* END RELEASE */

/* Highlight away kit in mobile nav menu - change to sub.counter_8 for live */
/*
#nav > ul > li.auto.has-sub.js-enquire-has-sub.counter_9 > div > div > div > div.col-md-6.col-no-padding-mobile > ul:nth-child(4) > li > a:after{
    content: "";
    display: inline-block;
    background-image: url(https://raw.githubusercontent.com/arsenaldirect/adcss/856764b6db4ecbf8739c556115d1ef517092bee1/img/new-corner120-trans.png);
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
}

#nav > ul > li.auto.has-sub.js-enquire-has-sub.counter_9 > div > div > div > div.col-md-6.col-no-padding-mobile > ul:nth-child(4) > li > a {
    border-left: 5px solid #ED1F1F;
    padding-left: 15px;
}
*/
/* Hide Yotpo placeholder empty stars */

div.starRatings.starRatings--pdp-desktop > div.starRatings__hollow.starRatings__hollow--pdp > span.starRatings__hollow-star, div.starRatings.starRatings--pdp-mobile > div.starRatings__hollow.starRatings__hollow--pdp > span.starRatings__hollow-star, div.starRatings__hollow.starRatings__hollow--plp > span.starRatings__hollow-star {
  color: white !important;
}

/* Fix SBP player name in banner */

.player-banner{
  position:relative;
}


/* BLACK FRIDAY 22 */

@media (min-width: 1024px){
#nav > ul > li:nth-child(1) > a{
    background-color: black;
    color: #DFFD16;
    height: auto;
    padding: 10px 20px;
    transition: padding .4s;
}

#nav > ul > li:nth-child(1) > a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding-bottom: 10%;
    background: black;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 0%);
    transform: rotate(0deg);
    width: 100%;
    margin-left: 0px;
    margin-top: 3px;
    z-index: 99999999;
}
}

@media only screen and (max-device-width: 1023px){
#nav > ul > li:nth-child(1) > a:after{
    content: "Exclusive Deals";
    position: absolute;
    margin-left: 30px;
    background-color: black;
    color: yellow;
    padding: 5px;
    margin-top: -5px;
    padding-left: 10px;
    padding-right: 10px;
}
}

/* Fix adidas size guide page on desktop */

#adidas-sizeguide-tabs .tabhead+.tabbody{
display:block;
}

/* Fix Arsenal size guide page on desktop*/

#arsenal-sizeguide-tabs .tabhead+.tabbody {
    display: block;
}

/* Remove gap above FAQ text for last two icons */

.faq-content:not(.faq-content--static) a p {
    margin-top: 3px;
}

/* Fix word wrap on login CTA on PDP */

a.gigya-raas-link.btn.btn-secondary.btn-block.mt10{
  white-space: break-spaces;
}

/* Update header icons after Wishlist release */

.top-header-link-account .header-link{
    background-image: url(https://www.arsenal.com/sites/default/files/images/MicrosoftTeams-image%20%281%29_15.png);
    background-size: contain;
}

.top-header-link-search .header-link {
    background-image: url(https://www.arsenal.com/sites/default/files/images/MicrosoftTeams-image%20%282%29_9.png);
    background-size: contain;
}

.main-header .mini-cart-link .header-link {
    background-image: url(https://www.arsenal.com/sites/default/files/images/MicrosoftTeams-image_13.png);
    background-size: contain;
}

/* Black friday promo message styling */

div[data-promo-name="BLACK FRIDAY DISCOUNT MEMBER EARLY ACCESS"], div[data-promo-name="BLACK FRIDAY DEAL + ARSENAL MEMBER EXTRA 10% DISCOUNT"]{
    color: black;
    background-color: #DFFD16;
    font-weight: bold;
    width: 90%;
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
}

/* Member discount promo message styling */

div[data-promo-name="Arsenal Member 10% Discount"], div[data-promo-name="ARSENAL MEMBER 10% DISCOUNT"]{
    width: 90%;
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 639px){
  div[data-promo-name="BLACK FRIDAY DISCOUNT MEMBER EARLY ACCESS"], div[data-promo-name="BLACK FRIDAY DEAL + ARSENAL MEMBER EXTRA 10% DISCOUNT"], div[data-promo-name="Arsenal Member 10% Discount"], , div[data-promo-name="ARSENAL MEMBER 10% DISCOUNT"]{
    width: 100%;
  }
}

/* Black Friday promo banner (bottom of header) */

.page-homepage .bottom-header-wrapper, .page-parentCategory .bottom-header-wrapper{
    background: none;
    background-color: #DFFD16;
    position: relative;
    top:0;
}
.bottom-header-wrapper .bottom-header-inner .content:nth-child(n) p{
  color:black;
  font-weight:600;
}

.bottom-header-wrapper .content:nth-of-type(1) p:before, .bottom-header-wrapper .content:nth-of-type(2) p:before, #monetate_selectorHTML_cca15348_0 p:before, .bottom-header-wrapper .content:nth-of-type(3) p:before, .promo-banner__logos{
  filter: brightness(0);
}

#monetate_selectorHTML_cca15348_0 > p > span{
  color:black !important;
}

header > div.bottom-header-wrapper.text-center{
  background-color: #DFFD16;
}

/* Black Friday member login button on PDP */

#addToCartForm > a.gigya-raas-link.btn.btn-secondary.btn-block.mt10{
  background: linear-gradient(to right, #000000 50%, #DFFD16 50%);
  color:black;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1s ease;
}
#addToCartForm > a.gigya-raas-link.btn.btn-secondary.btn-block.mt10:hover{  
  color:#DFFD16;
  background-position:left top;
}

/* Cart page discount/promo styling */

div.basket-items-wrapper div.promo{
    padding: 5px 10px 5px 50px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    margin-left: -60px;
    color: #3D434D;
    margin-top: 0px;
    background-color: #F3F3F3;
    min-height: 50px;
}

div.basket-items-wrapper div.promo:before{
    content: "";
    background: url(https://i.postimg.cc/sx8WwgBt/3096852.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    height: 30px;
    width: 30px;
    margin-left: -40px;
    margin-top: 5px;
    filter: invert(25%) sepia(9%) saturate(751%) hue-rotate(179deg) brightness(92%) contrast(91%);
}

@media (max-width: 639px){
  div.basket-items-wrapper div.promo{
    margin-left:0px;
    margin-right:5px;
    font-size:10px;
    margin-top:10px;
    padding-left:30px;
  }
  div.basket-items-wrapper div.promo:before{
    height: 20px;
    width: 20px;
    margin-left: -25px;
    
  }
}

/* Size chart style */

/* Christmas Hat */

/*
@media (min-width: 1024px){
body > main > header > div.header-wrapper > div > div.row.no-gutter > div.site-logo > div > div > a:after {
    content: "";
    position: absolute;
    display: block;
    background-size: contain;
    background-image: url(https://i.postimg.cc/fTbg9dG8/hat.png);
    height: 90px;
    width: 150px;
    background-repeat: no-repeat;
    z-index: 9999999999;
    top: 4px;
    margin-left: -85px;
    transform: scale(-1, 1) rotate(30deg);
}
}
*/

