/* RELEASE 21 FEB 2022 */

/* Fix checkbox alignment for delivery address during checkout */

.checkout-payment .optedin{
  display:flex !important;
}

/* Style Google/PayPal PDP express payment buttons */

.jsPaymentProviderGooglePayPDP .gpay-card-info-container{
  min-width:100% !important;
  height:50px !important;
  margin-bottom:10px !important;
  box-shadow:none !important;
  border:1px solid #505050 !important;
  border-radius:0 !important;
} 
.payment-provider__text--paypal-pay{
  font-size:15px;
  color: #3C4043;
}

/* Add hover effect to PayPal PDP express payment button to match Google */

#payment-provider__paypal-pay:hover{
  background-color: #F8F8F8 !important;
}

/* Style Google cart express payment buttons */

.payment-provider__inner--google-checkout .gpay-card-info-container{
  min-width:100% !important;
  height:50px !important;
  margin-bottom:0px !important;
  box-shadow:none !important;
  border:1px solid #505050 !important;
  border-radius:0 !important;
}
@media (min-width: 1024px){
  .payment-provider__inner--google-checkout .gpay-card-info-container{
    max-width:300px;
  }
}

/* Shop by player - prevent faces being obscured on mobile */

@media (max-width: 639px){
.player-list .details-wrapper {
  height:50px;
  }
}

/* Make EMWBIS full width on mobile/tablet and same width as OOS on desktop */

.AddToCart-BackInStockNotifyAction{
    width:100%;
}

/* Remove unnecessary EMWBIS popup scrollbar on desktop */
@media (min-width: 1024px){
  #cboxLoadedContent{
    overflow-y:hidden !important;
  }
}

/* END RELEASE */

/* Update PLP product name and price */
  
.product-listing.product-grid .details .price{
font-family:'tk-agency-gothic-ct-conden-n5';
font-size:28px;
}

.product-listing.product-grid .details .name{
text-transform:uppercase;
font-size:14px;
}

/* Update PLP was/now pricing */

.was-now-price{
font-family:'tk-agency-gothic-ct-conden-n5';
}

.was-now-price__now{
font-size:28px;
float:right;
background-color:transparent;
color:red;
  order:2;
  margin-top:-20px;
  letter-spacing:1px;
}

.was-now-price__was{
float:left;
justify-content: center;
margin-top: -5px;
width:100%;
  order:1;
}

.carousel .item .item-price{
  font-family:'tk-agency-gothic-ct-conden-n5';
  font-size:28px;
}

/* Hide page dividers and pagination links */

.divider.js-page-divider{
  display:none;
}
.pagination span{
  display:none;
}

/* Monetate badge styling */

.details [id^=mt_htmlBadge_], .details-wrapper [id^=mt_htmlBadge_]{
    /* border-bottom: 1px solid #f00; */
    line-height: 0.1em;
    margin: 10px 0 20px;
    width: 100%;
    text-transform:uppercase;
}
.details-wrapper [id^=mt_htmlBadge_]{
  margin-bottom:0px;
  margin-top:20px;
}
.details [id^=mt_htmlBadge_] strong, .details [id^=mt_htmlBadge_] span, .details-wrapper [id^=mt_htmlBadge_] span{
    background-color: red;
    padding-left: 25px;
    padding-right: 15px;
    font-size: 12px;
    border-radius: 15px;
    min-width: 160px;
    height: 18px;
    color: white !important;
    display: inline-block;
    padding-top: 8px;
    margin-top: -8px;
}
.details [id^=mt_htmlBadge_] strong font{
color:white !important;
}
.details [id^=mt_htmlBadge_] strong:before, .details [id^=mt_htmlBadge_] span:before, .details-wrapper [id^=mt_htmlBadge_] span:before {
    content: "";
    background-image: url(https://i.postimg.cc/vBmzspfZ/AFC50.png);
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin-left: -30%;
    margin-top: -13px;
    margin-bottom: -17px;
}

/* Remove hover effect on site logo */

body > main > header > div.header-wrapper > div > div.row.no-gutter > div.site-logo > div > div > a:hover{
opacity:1;
}

/* PDP size guide link */

.sizeGuideLink {
    color: white;
    text-decoration: none;
    background-color: red;
    padding-left: 10px;
    padding-right: 30px;
    text-transform: uppercase;
    font-size: 14px !important;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.sizeGuideLink:hover{
    color: white;
}
.sizeGuideLink:before {
    content: "";
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(https://i.postimg.cc/4dwqSHMM/shirticonred.png);
    position: absolute;
    margin-left: -32px;
    margin-top: -2px;
}
a.option-label.sizeGuideLink:after {
    content: "";
    background-image: url(https://static.thenounproject.com/png/299638-200.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    filter: brightness(0) invert(1);
    height: 14px;
    width: 14px;
    margin-top: 6px;
    margin-left: 6px;
}

/* PDP choose size title */

.option-label.choosesize-vari{
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 1px;
}
p.option-label.choosesize-vari:after {
    content: "";
    background-image: url(https://i.postimg.cc/SsgkHfKF/rulericonwhite.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 30px;
    position: absolute;
    right: -10px;
    margin-top: -5px;
}

/* PDP choose qty title */

p#noOfShirts:after {
    content: "";
    background-image: url(https://i.postimg.cc/mkfC6nbk/carticonred.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 30px;
    margin-top: -4px;
}

p#noOfShirts{
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 1px;
    margin-right: 10px;
}

/* PDP personalise title */

.product-details-wrapper .actions-text:not(.accordion-header) {
    font-size: 14px;
    font-family: "meta-normal";
    text-transform: uppercase;
    letter-spacing: 0;
    background-color: red;
    color: white;
    padding-left: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 10px;
}
.product-details-wrapper .actions-text:not(.accordion-header):after {
    content: "";
    background-image: url(https://i.postimg.cc/VsDyqP4K/texticon.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 30px;
    margin-top: -4px;
}

/* PDP free shipping section */

#freedelcont{
  margin-left: auto;
  margin-right:auto;
  width: 90%;
  padding-left:10px;
}
.fixw{
  width:100%;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
}
.fixw td.imgcol{
  width:30%;
  padding-right:20px;
}
.fixw td.txtcol{
  width:50%;
}
.fixw img{
  max-width:100%;
}
.c1{
  color: red; 
  font-weight: bold; 
  font-size: 40px;
  font-family: 'tk-agency-gothic-ct-conden-n5';
  white-space: nowrap;
  display:block;
  line-height:0.8em;
}
.c2{
  font-weight: bold; 
  font-size: 18px; 
  font-family: 'meta-font';
  display:block;
}
.c3{
  color: rgb(83, 82, 82); 
  font-size: 12px; 
  font-family: 'meta-font';
  display:block;
  line-height:1.2em;
}
@media (max-width: 1024px){
  .c1{
    font-size:70px;
  }
  .c2{
    font-size:28px;
  }
  .c3{
    font-size:15px;
  }
}

/* PDP was/now pricing */

.js-productNowPriceLabel, .js-productWasPriceLabel{
  display:none;
}
.product-details-wrapper .product-price-panel{
font-family: 'tk-agency-gothic-ct-conden-n5';
}
div.addtocart-component > div.grand-totals.table-display > div > div:nth-child(1){
order:2;
}
div.addtocart-component > div.grand-totals.table-display > div > div:nth-child(2){
order:1;
line-height: 0.1em;
}
.product-details-wrapper .totalPriceWas{
margin-bottom:0;
font-weight:normal;
}
.product-details-wrapper .totalPriceWas .minor{
font-size:26px;
padding-left:5px;
}
.product-details-wrapper p.totalPrice{
letter-spacing:1px !important;
}
.product-details-wrapper .totalPrice .red{
  color:red;
}

@media (max-width: 1024px){
.product-details-wrapper p.totalPrice{
  font-size:50px;
  }
  .product-details-wrapper .totalPriceWas .minor{
    font-size:40px;
    letter-spacing:1px;
  }
  .product-details-wrapper .totalPriceWas{
    margin-top:-10px;
    margin-bottom:20px;
  }
  div.addtocart-component > div.payment-provider__wrapper.js-paymentProviderWrapperPDP{
    margin-top:15px;
  }
}

/* PDP Product notice badge styling */

/* REQUIRES WHITESPACE TO BE REMOVED FROM PDP FIRST - JIRA TICKET 3909
p.product-summary-style:not(:empty){
    margin-top: 0px;
    padding: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 95px;
    color: #999999;
    box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 25%), -2px -2px 2px 0 rgb(255 255 255 / 30%);
    height:auto;
}

p.product-summary-style:not(:empty):before, .pdp-warning-box:before {
    content: "";
    background-image: url(https://www.loomkart.com/wp-content/uploads/2018/01/info.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: -70px;
    filter: invert(62%) sepia(0%) saturate(78%) hue-rotate(196deg) brightness(101%) contrast(82%);
}
*/

/* PDP Personalised product delivery delay warning styling */

.pdp-warning-box{
  margin-top: 0px;
    padding: 20px;
    border-radius: 5px;
    padding-left: 95px;
    box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 25%), -2px -2px 2px 0 rgb(255 255 255 / 30%);
    height:auto;
  background-color:red;
  color:white;
}

.pdp-warning-box:before{
  content: "";
    background-image: url(https://www.loomkart.com/wp-content/uploads/2018/01/info.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: -70px;
  filter: brightness(0) invert(1);
}

.product-summary-style(:empty){
    margin-top:-20px;
}

/* PDP in stock status after choosing variation */

.stock-levels .in-stock{
    color: white !important;
    width: auto;
    padding-right: 25px;
    max-width: 120px;
    float: right;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 15px;
    background-color: #159B09;
}
.stock-levels .in-stock:after{
    content: "";
    background-image: url(https://i.postimg.cc/prnYW1Yb/greenticksolid.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    position: absolute;
    right: -10px;
    margin-top: -5px;
}

/* Replace PDP section border with shadow */

.product-details-wrapper.border {
    border: none;
    box-shadow: 2px 2px 9px #e8e8e8;
}

/* Fix OOS variation X lines and restyle boxes */

.select-box.out-of-stock:before, .select-box.out-of-stock:after{
  display:none;
}
.select-box.out-of-stock{
    background-color: rgba(0,0,0,0.04);
    color: white;
    text-shadow: #999 1px 1px 0;
}
